 button {
    -webkit-animation: shake 15s linear infinite;
    animation: shake 15s linear infinite; 
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    margin-top: 5px;   
    text-transform: capitalize;
    border-radius: 3px;
    border: 0;
    padding: 7px;
    background: #8d9a9e; 
  }

  button:hover {
    animation-play-state: paused;
    background: #dbe1e3;
}

  .reactjs button {
    animation-delay: 1s;
  }
  .vuejs button {
    animation-delay: 3s;
  }
  .angular button {
    animation-delay: 2s;
  }

  @-webkit-keyframes shake {
    50% {
        transform: translateX(40vw);
    }
  }
  @keyframes shake {
    50% {
        transform: translateX(40vw);
    }
  } 

  